@charset "ISO-8859-1";

body {
	background:
		url(https://wallpaper.dog/large/5486500.png);
		background-attachment: fixed;
		 background-repeat: no-repeat;
}
header{
    background-color:transparent;
    
    color:black;
    padding-top: 25px;
    padding-bottom: 15px;
    font-size: 40px;
   font-family:calibri;
    position: relative;
    text-align: center;
   }

label {
	font-size: 22px;
	font-weight: 400;
}


.a1 {
	color: blue;
	font-size: 20px;
	padding-left: 25px;
}

.a2 {
	color: blue;
	font-size: 20px;
	padding-left: 1510px;
}

.home {
	margin-left: 74.5%;
	margin-top: -2%;
	font-size: 30px;
}

.body {
	margin-top: 0.1px;
	background-color: transparent;
	margin-left: 25%;
	margin-right: 25%;
	padding-top: 7px;
	padding-bottom: 20px;
	border-radius: 0.5rem;
}

.container {
	width: 200%;
	margin-left: 28%
}

input {
	width: 370px;
	line-height:40px;
	border-radius: .2rem;
	border:none;
	font-size:18px;
	padding-left:20px
}
.input1 {
	width: 370px;
	line-height:35px;
	border-radius: .3rem;
}

.form-control {
	display: block;
	width: 100%;
height: calc(2.25rem + 8px);
	padding: .375rem .75rem;
	font-size: 19.5px;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	text-align: left;
}

select {
	display: block;
	width: 33.5%;
	/* height: calc(2.25rem + 2px); */
	padding: .375rem .75rem;
	margin-bottom: 20px;
	font-size: 19.5px;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.2rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	text-align: left;
	font-size: 19.5px;
}

textarea {
	overflow: auto;
	resize: vertical;
	width: 33.4%;
	height: 25%;
	margin-bottom: 20px;
}

.h2, h2 {
	font-size: 3rem;
	font-color: #fd0505;
	padding-bottom: 1%;
	padding-left: 40%;
}

button {
	margin-left: 8%;
	margin-bottom: 2%;
	font-size: 10px;
	color: #f80424;
}

.back {
	font-size: 20px;
	padding-bottom: 2%;
	padding-left: 8%;
}

.bol {
	font-weight: 400;
	color: black;
}

.btn {
	display: inline-block;
	font-weight: 400;
	margin-top:2%;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 20px;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#but {
	background-color: #e6261d;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: red;
}

h5 {
	margin-left:15%;
}

h3 {
	margin-left: 17%;
	margin-top: 14.7%;
	font-size: 40px;
	font-weight:400;
}

nav {
	padding-top: 35px;
}

a {
	padding: 10px;
	font-size: 24px;
}
