@charset "ISO-8859-1";
body {
	background:
		url(https://wallpaper.dog/large/5486500.png);
		background-attachment: fixed;
		 background-repeat: no-repeat;
}
h1 {
	padding-top: 300px;
	font-size: 40px;
	font-weight: 200;
	padding-left: 300px;
}

.a2 {
margin-top:7%;
	padding-top:7%;
	font-size:25px;
	padding-left:13%;;
}
header{
    background-color:transparent;
    
    color:black;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 40px;
    padding-right: 40px;
    padding-left: 20px;
    position: relative;
    text-align: center;
   }
